<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project75">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project75"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ListRating"
            android:exported="false"
            android:label="Ý kiến của khách hàng"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".Rating"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC1LcbimxkufLZMxN9NT-AUQXpdNO_pwh4" />

        <activity
            android:name=".MapPOS"
            android:exported="false"
            android:label="Vị trí nhà hàng"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".History"
            android:exported="true"
            android:label="Lịch sử thanh toán"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".Table"
            android:exported="true" />
        <activity
            android:name=".payment"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="true" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".ForgotEmail"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Signup"
            android:exported="false" />
    </application>

</manifest>